<header class="bg-emerald-500 text-white p-4">
  <div class="flex container">
    <h1 class="text-3xl font-bold">
      <%= link_to 'Anitrient', '#' %>
    </h1>
    <nav>
      <div class="flex space-x-6 fixed right-0 mr-2 text-2xl mt-px">
        <%= link_to '会員登録', '#' %>
        <%= link_to 'ログイン', '#' %>
      </div>
    </nav>
  </div>
</header>